@use 'govuk/base' as *;
@use 'variables' as *;

// Padding on the `<main>` element needs removing as it's been shifted to a parent
.app-main-wrapper {
  padding-top: 0;
  padding-bottom: 0;
}

// The parent
.app-page-wrapper {
  @include govuk-responsive-margin(6, $direction: top);
  @include govuk-responsive-margin(7, $direction: bottom);

  @include govuk-media-query($from: tablet) {
    display: grid;
    grid-template-columns: $app-sidebar-nav-tablet 1fr;
    gap: $govuk-gutter;
  }

  @include govuk-media-query($from: desktop) {
    grid-template-columns: $app-sidebar-nav-desktop 1fr;
  }
}

// When no navigation is present, cancel the grid
// and limit the width so the content doesn't go larger
// than how it appears on desktop
.app-page-wrapper--no-navigation {
  display: block;
  max-width: $govuk-page-width - $app-sidebar-nav-desktop;
}

.app-chapter-navigation {
  position: relative;
  z-index: 1;

  @include govuk-media-query($until: tablet) {
    display: none;
  }
}

.app-chapter-navigation--mobile-fallback {
  @include govuk-media-query($from: tablet) {
    display: none;
  }
}

// Modifiers for landing pages which set colours, hero graphic and graphic
// position and size. Used by breadcrumbs and heroes
.app-content--section-graphic-device {
  --app-landing-hero-dark-colour: #{govuk-colour('teal', $variant: 'shade-25')};
  --app-landing-hero-light-colour: #{govuk-colour('teal')};
  --app-landing-hero-graphic: url('/styles/images/heroes/graphic-device.svg');
  --app-landing-hero-graphic-position-small: center #{govuk-em(150px, 16)};
  --app-landing-hero-graphic-position-align: 0;
  --app-landing-hero-graphic-size-small: #{govuk-em(280px, 16)};
  --app-landing-hero-graphic-size-big: #{govuk-em(330px, 16)};
}

.app-content--section-logo-system {
  --app-landing-hero-dark-colour: #{govuk-colour('green')};
  --app-landing-hero-light-colour: #{govuk-colour('green', $variant: 'tint-25')};
  --app-landing-hero-graphic: url('/styles/images/heroes/logo-system.svg');
  --app-landing-hero-graphic-position-small: 0 100%;
  --app-landing-hero-graphic-position-align: 100%;
  --app-landing-hero-graphic-size-small: #{govuk-em(700px, 16)};
  --app-landing-hero-graphic-size-big: #{govuk-em(930px, 16)};
}

.app-content--section-colour {
  --app-landing-hero-dark-colour: #{govuk-colour(
      'purple',
      $variant: 'shade-25'
    )};
  --app-landing-hero-light-colour: #{govuk-colour('purple')};
  --app-landing-hero-graphic: url('/styles/images/heroes/colour.svg');
  --app-landing-hero-graphic-position-small: center #{govuk-em(160px, 16)};
  --app-landing-hero-graphic-position-align: 100%;
  --app-landing-hero-graphic-size-small: #{govuk-em(360px, 16)};
  --app-landing-hero-graphic-size-big: #{govuk-em(580px, 16)};
}

.app-content--section-typography {
  --app-landing-hero-dark-colour: #{govuk-colour(
      'magenta',
      $variant: 'shade-50'
    )};
  --app-landing-hero-light-colour: #{govuk-colour('magenta')};
  --app-landing-hero-graphic: url('/styles/images/heroes/typography.svg');
  --app-landing-hero-graphic-position-small: center #{govuk-em(150px, 16)};
  --app-landing-hero-graphic-position-align: 100%;
  --app-landing-hero-graphic-size-small: #{govuk-em(350px, 16)};
  --app-landing-hero-graphic-size-big: #{govuk-em(450px, 16)};
}

.app-content--section-data {
  --app-landing-hero-dark-colour: #{govuk-colour('teal', $variant: 'shade-25')};
  --app-landing-hero-light-colour: #{govuk-colour('teal', $variant: 'tint-25')};
  --app-landing-hero-graphic: url('/styles/images/heroes/data.svg');
  --app-landing-hero-graphic-position-small: center #{govuk-em(160px, 16)};
  --app-landing-hero-graphic-position-align: 100%;
  --app-landing-hero-graphic-size-small: #{govuk-em(360px, 16)};
  --app-landing-hero-graphic-size-big: #{govuk-em(510px, 16)};
}

.app-content--section-brand-in-use {
  --app-landing-hero-dark-colour: #{govuk-functional-colour(brand)};
  --app-landing-hero-light-colour: #{govuk-colour('blue', $variant: 'tint-50')};
  --app-landing-hero-graphic: url('/styles/images/heroes/brand-in-use.svg');
  --app-landing-hero-graphic-position-small: center #{govuk-em(150px, 16)};
  --app-landing-hero-graphic-position-align: 0;
  --app-landing-hero-graphic-size-small: #{govuk-em(260px, 16)};
  --app-landing-hero-graphic-size-big: #{govuk-em(328px, 16)};
}

.app-content--section-illustration {
  --app-landing-hero-dark-colour: #{govuk-colour('red')};
  --app-landing-hero-light-colour: #{govuk-colour('red', $variant: 'tint-50')};
  --app-landing-hero-graphic: url('/styles/images/heroes/illustration.svg');
  --app-landing-hero-graphic-position-small: 40% #{govuk-em(100px, 16)};
  --app-landing-hero-graphic-position-align: center;
  --app-landing-hero-graphic-size-small: #{govuk-em(360px, 16)};
  --app-landing-hero-graphic-size-big: #{govuk-em(420px, 16)};
}
